@import "tailwindcss";
@plugin "daisyui";

/* @layer base {
  :root {
    --background: #FFFFFF;
    --surface: #F9F9F9;
    --text-primary: #111111;
    --text-secondary: #4a4a4a;
    --accent-primary: #5C5CFF;
    --accent-secondary: #8A8AFF;
    --border: #E5E5E5;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #121212;
      --surface: #1E1E1E;
      --text-primary: #F5F5F5;
      --text-secondary: #A0A0A0;
      --accent-primary: #8A8AFF;
      --accent-secondary: #5C5CFF;
      --border: #2a2a2a;
    }
  }
}   */

@theme {
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-sans: 'Geist Sans', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

.font-dm-sans {
  font-family: var(--font-dm-sans);
}
